<!DOCTYPE html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/dropdown.css" />
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	<script src="/js/jquery.js"></script>
</head>
<body>
	{{ partial "header.html" . }}
	<div class="content-wrapper">
		{{ range where .Data.Pages "Section" "blog" }}
			<div class="blog-post">
				<img class="float quarter" src='/img/blog/{{ .Params.Image }}'>
				<a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
				<p><b>{{ .Date.Format "Monday, Jan 2 2006" }}</b></p>
				<p>{{ .Description }}</p>
			</div>
			<hr noshade="noshade" />
		{{ end }}
	</div>
	{{ partial "footer.html" . }}
</body>
